.background {
  border: 4px solid #00c6ad;
  width: 350px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Fredoka One", cursive;
}

.div-line__first {
  display: flex;
  justify-content: center;
}
.div-line__first span {
  margin: 50px 40px 40px 25px;
}

.div-line__span-lg {
  font-size: 24px;
}
.div-line__span-xl {
  font-size: 30px;
  margin-bottom: 5px;
}

.div-line__span-op {
  color: rgba(0, 0, 0, 0.5);
  font-family: none;
  font-weight: 600;
}

.div-line__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-line__second .first-div {
  background-color: #febd11;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.div-line__second div > i {
  color: white;
}
.div-line__second .second-div {
  display: flex;
  flex-direction: column;
}

.div-line__third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.div-line__third div {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-line__third .first-div {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-bottom-width: thick;
  margin-left: 25px;
}
.div-line__third .first-div i {
  margin-right: 5px;
}

.div-line__third .circle {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-bottom-width: thick;
}

.div-line__third .circle span {
  font-size: 25px;
}

.div-line__color {
  margin: 20px 0 20px 25px;
  display: flex;
}

.div-line__color .first-div {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin-right: 10px;
}

.div-line__color .second-div {
  display: flex;
  flex-direction: column;
}

.first-div__tomato {
  background-color: tomato;
}

.first-div__pink {
  background-color: pink;
}
.first-div__blue {
  background-color: blue;
}
.first-div__teal {
  background-color: teal;
}
